<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" th:href="@{/css/500.css}">
</head>
<body>
<div class="browser">
    <div class="controls">
        <i></i>
        <i></i>
        <i></i>
    </div>

    <div class="eye"></div>
    <div class="eye"></div>
    <div class="mouth">
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
    </div>
</div>

<h1>Unfortunately, something has gone wrong.</h1>
<p>We're unable to fulfill your request. Rest assured we have been notified and are looking into the issue. Please refresh your browser. If the error continues, please contact our <a href="http://mcause.us/supportticket">support team</a>.</p>

<!-- 404 text -->
<!--
<h1>Unfortunately, this page does not exist.</h1>
<p>The link you clicked may be broken or the page may have been removed.</p>
-->
</body>
</html>